@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("400");
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("700");
}

body {
  font-family: "Raleway", sans-serif;
  color: #000000;
}
  /* index.html */
/*Шапка сайта*/
.main-header {
  background-color: #FFE17F;
}

.search-string {
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.search-button {
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.account {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.account-exit {
  color: #000000;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.compare {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.basket {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.header-catalog-link {
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.header-menu-link {
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
/*Слайдер*/
.slider-text-head {
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
}

.slider-text {
  color: #444444;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.more-detailed-link {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.numeric-parameter {
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.option-name {
  color: #444444;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
/*Выбор категории товаров*/
.category-item-vr {
  background: url(../images/virtual.svg);
}
.category-item-self {
  background: url(../images/monopod.svg);
}
.category-item-ecam {
  background: url(../images/action-camera.svg);
}
.category-item-fit {
  background: url(../images/fitness-bracelet.svg);
}
.category-item-watch {
  background: url(../images/watch.svg);
}
.category-item-copter {
  background: url(../images/quadrocopters.svg);
}


.category-link {
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
}
/*Доставка*/
.button-delivery {
  color: #ffe17f;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.button-warranty {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.button-credit {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.delivery-head-text {
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
}

.delivery-text {
  color: #444444;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.order-link {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
}
/*Контакты*/
.about-us-head-text {
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
}

.about-us-text {
  color: #444444;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.delivery-item {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.more-about-us {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.contacts-title {
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
}

.contacts-text {
  color: #444444;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.contacts-subtitle {
  color: #444444;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.contacts-address-text {
  color: #444444;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.contacts-phone {
  color: #444444;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration-line: underline;
}

.contacts-subtitle {
  color: #444444;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.contacts-schedule-item {
  color: #444444;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.write-to-us {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
/*Подписка*/
.subscription {
  background-color: #F0F0F0;
}

.subscription-title {
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
}

.subscription-text {
  color: #444444;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.subscription-string {
  color: #444444;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.subscription-button {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

/*footer*/
.footer {
  background-color: #444444;
}

.device-text {
  color: #ffffff;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer-button-delivery {
  color:#ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer-contacts-phone {
  color: #ffffff;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
}

/* catalog.html */
/*Шапка сайта*/
.search-string-catalog {
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.account-exit {
  color: #000000;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.category-title {
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
}
/*Заголовок категории товаров*/
.breadcrumbs-link {
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
/*Меню Фильтр*/
.filter-text-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.cost-scale-text {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.filter-text {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.show-button {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
/*Меню Сортировка*/
.sorting {
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.popular {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

/*Карточки товаров*/
.name-card {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.sale-name-card {
  color: #444444;
  text-align: right;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.download-more {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}
/*Кнопки Назад/Вперед*/
.back {
  color: #444444;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.page-numbers {
  color: #444444;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.forward {
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
