@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Raleway", sans-serif;
  color: #000000;
}

html {
  height: 100%;
}
  /* index.html */
/*Шапка сайта*/
.main-header {
  background-color: #ffe17f;
  padding-top: 15px;
}

.logo-site {
  display: block;
  padding-top: 5px;
  padding-left: 60px;
}

.header-option {
  display: flex;
  padding-left: 60px;
  padding-top: 30px;
}

.search-form {
  display: flex;
}

.search-string, .search-string-catalog {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-left: 40px;
  width: 319px;
  background-color: #ffe17f;
  border-radius: 50px 0 0 50px;
  border-right: none;
  border: 2px solid #000;
  background-image: url(../images/search-icons.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
}

.search-button {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  width: 160px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #ffe17f;
  border-radius: 0 50px 50px 0;
  border: 2px solid #000;
}

.account {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  color: #000;
  padding-left: 40px;
  padding-top: 9px;
}

.account-icon {
  padding-right: 10px;
}

.account-exit {
  color: #000000;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  opacity: 0.3;

}

.compare {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  color: #000;
  padding-left: 178px;
  padding-top: 9px;
}

.compare-icon {
  padding-right: 10px;
}

.basket {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  color: #000;
  padding-left: 30px;
  padding-top: 9px;
}

.header-catalog {
  display: flex;
  padding-left: 60px;
}

.header-catalog-link {
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin-top: 45px;
  text-decoration: none;
  color: #000;
}

.header-catalog-logo {
  padding-top: 30px;
  padding-left: 7px;
}

.header-menu {
  display: flex;
  list-style-type: none;
  margin-left: 226px;
  margin-top: 45px;
}

.header-menu-link {
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  padding-left: 45px;
  text-decoration: none;
  color: #000;
}
/*Слайдер*/
.main-info {
  display: flex;
}

.main-container {
  width: 1160px;
  margin: 0 auto;
}

.slide-description {
  margin-left: 40px;
}

.slider-text-head {
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
}

.slider-text {
  color: #444444;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  display: block;
  padding-top: 29px;
}

.more-detailed-link {
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  display: block;
  padding-top: 50px;
}
.parameters {
  display: flex;
  padding-top: 50px;
}

.numeric-parameter {
  font-family: Rubik, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.option-name {
  color: #444444;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

}
/*Выбор категории товаров*/
.cards-category {
  margin-top: 70px;
}

.category {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  list-style-type: none;
  padding-left: 0;
}
/*
.category-item {
  height: 253px;
}
*/
.category-item-vr::before {
  background-image: url("../images/virtual.svg");

}
.category-item-self::before {
  background-image: url("../images/monopod.svg");

}
.category-item-ecam::before {
  background-image: url("../images/action-camera.svg");

}
.category-item-fit::before {
  background-image: url("../images/fitness-bracelet.svg");

}
.category-item-watch::before {
  background-image: url("../images/watch.svg");

}
.category-item-copter::before {
  background-image: url("../images/quadrocopters.svg");

}

.category-link {
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-decoration: none;
  display: flex;
  width: 160px;
  min-height: 253px;
  padding-top: 32px;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
}
.category-link::before {
  content: "";
  background-color: #ffe17f;
  height: 160px;
}

/*Доставка*/
.delivery {
  margin-top: 70px;
}

.delivery-container {
  display: flex;
}

.delivery-container-text {
  display: flex;
  flex-direction: column;
  margin-left: 116px;
}

.menu-delivery {
  list-style-type: none;
}

.button-delivery {
  width: 280px;
  height: 40px;
  color: #ffe17f;
  text-align: start;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 35px;
  background-color: #000;
}

.button-warranty {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 35px;
  background-color: #f0f0f0;
  border: none;

}

.button-credit {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  background-color: #f0f0f0;
  border: none;
}

.delivery-container-text {
  display: flex;
  width: 452px;
  height: 174px;
  padding-bottom: 73px;
}

.delivery-head-text {
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
}

.delivery-text {
  color: #444444;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 452px;
  height: 90px;
}

.order {
  margin-top: 70px;
  background-color: #f0f0f0;
  display: flex;
  width: 1160px;
  justify-content: space-between;
  align-items: center;
}

.order-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  width: 1160px;
  min-height: 100px;
}

.order-link::before {
  content: "";
  width: 125px;
  height: 100px;
  justify-content: flex-start;
  background-color: #ffe17f;
  background-image: url(../images/delivery-car.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.order-link::after {
  content: "";
  display: flex;
  width: 125px;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  background-image: url(../images/information.svg);
  background-repeat: no-repeat;
  background-position: center;
}
/*Контакты*/
.info {
  margin-top: 70px;
  display: flex;
}

.about-us-head-text {
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
}

.about-us-text {
  color: #444444;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  display: block;
  padding-bottom: 30px;
}

.delivery-services {
  list-style-type: none;
}

.delivery-item {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  padding-bottom: 19px;
}

.delivery-item::before {
  content : "•";
  color: #ffc700;
  font-size: 22px;
  padding-right: 10px;
}

.more-about-us {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.contacts-title {
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
}

.contacts {
  margin-left: 108px;
}

.contacts-text {
  color: #444444;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.contacts-subtitle {
  color: #444444;
  font-family: Rubik, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.contacts-address-text {
  color: #444444;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.contacts-phone {
  color: #444444;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration-line: underline;
}

.contacts-subtitle {
  color: #444444;
  font-family: Rubik, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.contacts-schedule {
  list-style-type: none;
}

.contacts-schedule-item {
  color: #444444;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.write-to-us {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
/*Подписка*/
.subscription {
  background-color: #f0f0f0;
  margin-top: 70px;
}

.subscription-content {
  display: block;
  flex-direction: row;
}

.subscription-title {
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  display: block;
  width: 348px;
  height: 100px;
}

.subscription-text {
  color: #444444;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 560px;
  height: 90px;
}

.subscription-string {
  color: #444444;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 557px;
  height: 55px;
  background-color: #f0f0f0;
  border-bottom: 3px solid #c4c4c4;
  border-left: none;
  border-top: none;
  border-right: none;
}

.subscription-button {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  padding: 18px 39px;
  justify-content: center;
  align-items: center;
  border: 3px solid #c4c4c4;
}

/*footer*/
.footer {
  background-color: #444444;
  min-height: 321px;
}

.footer-content {
  display: flex;
}

.device {
  width: 234px;
  height: 182px;
  margin-top: 62px;
}

.logo-site-footer {
  display: block;
}

.device-text {
  color: #ffffff;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-top: 35px;
}

.footer-link {
  padding-left: 124px;
  padding-top: 137px;
}

.footer-menu-delivery {
  list-style-type: none;
  display: flex;
}

.footer-button-delivery {
  color:#ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-button-warranty {
  color:#ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  padding-left: 35px;
  text-decoration: none;
}

.footer-button-credit {
  color:#ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  padding-left: 35px;
  text-decoration: none;
}

.social-list {
  padding-top: 62px;
}

.social-list-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-contacts {
  width: 175px;
  height: 116px;
  padding-top: 140px;
  padding-left: 183px;
}

.footer-contacts-phone {
  color: #ffffff;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
  display: block;
  padding-top: 13px;
}

.academy {
  display: block;
  padding-top: 63px;
  padding-left: 61px;
}

/* catalog.html */
/*Шапка сайта*/
.search-string-catalog {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/*Заголовок категории товаров*/

.category-title {
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  display: block;
  padding-left: 60px;
}

.breadcrumbs {
  list-style-type: none;
  padding-left: 60px;
  display: flex;
  margin-bottom: 34px;
}

.breadcrumbs-link {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  text-decoration: none;
}

.breadcrumbs-frame {
  padding-left: 16px;
  padding-right: 16px;
}


/*Меню Фильтр*/
.main-catalog {
  background-color: #f0f0f0;
}

.catalog {
  background-color: #ffffff;
}

.catalog-container {
  display: flex;
}

.filter {
  width: 260px;
  padding-left: 60px;
}

.filter-text-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.cost-scale-text {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.filter-text {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.show-button {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  border: none;
}
/*Меню Сортировка*/
.catalog {
  width: 840px;
}

.catalog-sort {
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
}

.sorting {
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  padding-left: 20px;
}

.popular {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  background-color: #f0f0f0;
  border: none;
}

.up-arrow {
  display: flex;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.down-arrow {
  display: flex;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Карточки товаров*/
.cards {
  padding: 0 40px;
  padding-top: 70px;
}

.cards-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  width: 360px;
}

.card-link {
  text-decoration: none;
}

.name-card {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000;
}

.sale-name-card {
  color: #444444;
  text-align: right;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.download-more {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin-top: 44px;
  background-color: #ffffff;
  width: 760px;
  height: 55px;
  border: 3px solid #e5e5e5;
  margin-left: 44px;
}
/*Кнопки Назад/Вперед*/
.page-numbers {
  display: flex;
  margin-top: 44px;
  margin-left: 44px;
  margin-bottom: 78px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: #ebebeb;
  width: 760px;
  height: 71px;
}

.page-numbers-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.page-number-items {
  text-decoration: none;
  display: flex;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
}

.back {
  color: #444444;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 25px;
}

.forward {
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  padding: 25px;
  text-decoration: none;
  color: #000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
